	body{
	backgroundColor : #ccc;
	}

	.bluekey {
	color	: blue;
	}
	.redkey {
	color	: red;
	}
	.yellowkey {
	color	:yellow;
	}
	.greenkey {
	color	:green;
	}
	.mainfont {
	font-size:49px;
	color:black;
	}
	
	.notset {
	color	:grey;
	}

	.select {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:49px;
	}

	.mediaselect {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:38px;
	}

	pre.mediamenu {
	font-size:38px;
	color:black;
	}

	p.epg_head { 
	color:white;
	text-align: center;
	}

	p.epg_avinfo {
	color:black;
	text-align: center;
	}

	p.epg_title {
	color:white;
	text-align: center;
	}

	p.epg_info {
	color:yellow;
	text-align: center;
	}

	pre.color_switchtimer {
	background		: #660066;
	}

	pre.color_default {
	background		: green;
	}

	pre.color_error {
	background		: red;
	}



	videoplane#videoplane {
		position:absolute;
		left:0px;
		top:0px;
		height:100%;
		width:100%;
		z-index:500;
	}

	h1.mainmenu {
	font-size:66px;
	color:white;
	text-align: center;
	}

	pre.mainmenu {
	font-size:49px;
	color:black;
	}
	pre.mainhead {
	font-size:66px;
	color:white;
	text-align: center;
	}

	pre.media {
	color:white;
	font-size:49px;
	}

	pre.epgtimerinfo {
	color:white;
	text-align: center;
	}

	p.epgtimerinfo {
	text-align: center;
	}


	p.epg {
	font-size:36px;
	color:black;
	text-align: center;
	}
	
	p.list {
	font-size:34px;
	color:black;
	text-align: center;
	}

	p.osdtimer {
	font-size:34px;
	color:black;
	}


	div#osdmain {
	position		: absolute;
	z-index			: 505;
	width			: 80%;
	top			: 60%;
	bottom			: 9%;
	left			: 10%;
	-webkit-border-radius		: 50px;
	background		: #3366ff;
	}

	div#osdnr {
	position	 	: absolute;
	z-index			: 505;
	width 			: 13%;
	height			: 30%;
	left			: 3%;
	top			: -15%;
	-webkit-border-radius	: 25px;
	background		: red;
	color			: black;
		font-size:81px;
	}
	
	div#osdname {
	z-index			: 505;
		position	: absolute;
		width		: 69%;
		height		: 4%;
		left		: 3%;
		top 		: 20%;
		color		: black;
		font-size:51px;
	}


	div#osdtimer {
	z-index			: 505;
		position		: absolute;
		width			: 7%;
		left			: 5%;
		top			: 30%;
	}

	div#osdtime {
	z-index			: 505;
		position	: absolute;
		width		: 42%;
		right		: 5%;
		top		: 7%;
		color		: white;
		font-size:35px;
		text-align: right;
	}

	
	div#osdepg {
	z-index			: 505;
		position	: absolute;
		width		: 63%;
		left		: 17%;
		top		: 30%;
		color		: white;
		font-size:36px;
	}
	
	div#osdca { 
	z-index			: 505;
		position	: absolute;
		width		: 5%;
		left		: 75%;
		top		: 20%;
		color		: black;
		font-size:60px;
	}


	div#channellist { 
	z-index			: 400;
		position	: absolute;
		width		: 100%;
		height		: 48%;
		left		: 7%;
		top		: 4%;
	background		: #bbb;
	}

	div#colorkeys { 
	z-index			: 401;
		position	: absolute;
		width		: 100%;
		left		: 10%;
		top		: 84%;
		font-size:36px;
	}

	div#chanlistepg { 
	z-index			: 402;
		position	: absolute;
		width		: 42%;
		left		: 7%;
		top		: 50%;
	}

	div#osdvolume { 
	z-index			: 501;
		position	: absolute;
		width		: 63%;
		left		: 10%;
		top		: 80%;
		opacity		: 0;
		color		: green;
		font-size:66px;
	}

	div#osdmedia { 
		width		:80%;
		position	:absolute;
		left		:10%;
		top		:60%;
		z-index		:506;
		opacity		:0;
		-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#osdmediatime {
	z-index			: 506;
		position	: absolute;
		width		: 42%;
		right		: 15%;
		top		: 63%;
		color		: white;
		font-size:35px;
		text-align: right;
	}



	div#schedule {
	width		:50%;
	height		:75%;
	position	:absolute;
	left		:25%;
	top		:10%;
	opacity		:0;
	z-index		:510;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#osdmute {
	width		:7%; 
	position	:absolute; 
	left		:76%; 
	top		:9%;
	z-index		:515;
	opacity		:0;
	}

	div#osdlang {
	width		:7%;
	position	:absolute;
	left		:76%;
	top		:9%;
	z-index		:515;
	opacity		:0;
	color		:white;
		font-size:30px;
	}

	div#mainmenu {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	bottom		:10%;
	z-index		:520;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#medialist {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	bottom		:10%;
	z-index		:520;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#switchtimer {
	width		:45%;
	position	:absolute;
	left		:21%;
	top		:26%;
	z-index		:530;
	opacity		:0;
	-webkit-border-radius:25px;
	color		:white;
		font-size:36px;
	background	:green;
	}

	div#osdepginfo {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	z-index		:525;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
		font-size:39px;
	}

	div#osdepginfonext {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	z-index		:525;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
		font-size:39px;
	}

