	body{
	backgroundColor : #ccc;
	}

	videoplane#videoplane {
		position:absolute;
		left:0px;
		top:0px;
		height:100%;
		width:100%;
		z-index:500;
	}

	.bluekey {
	color	: blue;
	}
	.redkey {
	color	: red;
	}

	.yellowkey {
	color	:yellow;
	}

	.greenkey {
	color	:green;
	}

	.mainfont576 {
	font-size:26px;
	color:black;
	}
	
	.mainfont720 {
	font-size:33px;
	color:black;
	}

	.mainfont1080 {
	font-size:49px;
	color:black;
	}

	.osdnr576 {
	font-size:43px;
	}

	.osdnr720 {
	font-size:54px;
	}

	.osdnr1080 {
	font-size:81px;
	}


	.osdname576{
	color		: black;
	font-size:26px;
	}

	.osdname720{
	color		: black;
	font-size:34px;
	}

	.osdname1080{
	color		: black;
	font-size:51px;
	}

	.osdtime576 {
		color		: white;
		font-size:17px;
		text-align: right;
	}

	.osdtime720 {
		color		: white;
		font-size:22px;
		text-align: right;
	}

	.osdtime1080 {
		color		: white;
		font-size:35px;
		text-align: right;
	}

	pre.osdlang576 {
	color		:white;
		font-size:16px;
	}

	pre.osdlang720 {
	color		:white;
		font-size:20px;
	}

	pre.osdlang1080 {
	color		:white;
		font-size:30px;
	}

	.osdca576 {
		color		: black;
		font-size:32px;
	}

	.osdca720 {
		color		: black;
		font-size:40px;
	}

	.osdca1080 {
		color		: black;
		font-size:60px;
	}

	pre.osdvolume576 {
		color		: green;
		font-size:35px;
	}

	pre.osdvolume720 {
		color		: green;
		font-size:44px;
	}

	pre.osdvolume1080 {
		color		: green;
		font-size:66px;
	}

	pre.osdepg576 {
		color		: white;
		font-size:18px;
	}

	pre.osdepg720 {
		color		: white;
		font-size:23px;
	}
	pre.osdepg1080 {
		color		: white;
		font-size:36px;
	}

	.notset {
	color	:grey;
	}

	.select576 {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:26px;
	}

	.select720 {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:33px;
	}

	.select1080 {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:49px;
	}

	.mediaselect576 {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:21px;
	}

	.mediaselect720 {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:26px;
	}

	.mediaselect1080 {
	background	:#fc5;
	-webkit-border-radius:25px;
	color:black;
	font-size:38px;
	}

	pre.mediamenu576 {
	font-size:21px;
	color:black;
	}

	pre.mediamenu720 {
	font-size:26px;
	color:black;
	}

	pre.mediamenu1080 {
	font-size:38px;
	color:black;
	}

	pre.deletefile576 {
	text-align	: center;
	color		:white;
	font-size	:19px;
	background	:red;
	}

	pre.deletefile720 {
	text-align	: center;
	color		:white;
	font-size	:24px;
	background	:red;
	}

	pre.deletefile1080 {
	text-align	: center;
	color		:white;
	font-size	:36px;
	background	:red;
	}

	pre.nonfree576 {
	text-align	: center;
	color		:white;
	font-size	:19px;
	background	:red;
	}

	pre.nonfree720 {
	text-align	: center;
	color		:white;
	font-size	:24px;
	background	:red;
	}

	pre.nonfree1080 {
	text-align	: center;
	color		:white;
	font-size	:36px;
	background	:red;
	}

	p.epg_head { 
	color:white;
	text-align: center;
	font-size:39px;
	}

	p.epg_avinfo {
	color:black;
	text-align: center;
	font-size:39px;
	}

	p.epg_title {
	color:white;
	text-align: center;
	font-size:39px;
	}

	p.epg_info {
	color:yellow;
	text-align: center;
	font-size:39px;
	}

	p.epg_info_long {
	color:yellow;
	text-align: center;
	font-size:39px;
	}

	pre.color_switchtimer576 {
	background		: #660066;
	font-size:19px;
	color		:white;
	}

	pre.color_switchtimer720 {
	background		: #660066;
	font-size:24px;
	color		:white;
	}

	pre.color_switchtimer1080 {
	background		: #660066;
	font-size:36px;
	color		:white;
	}

	pre.color_default576 {
	background		: green;
	font-size:19px;
	color		:white;
	}

	pre.color_default720 {
	background		: green;
	font-size:24px;
	color		:white;
	}

	pre.color_default1080 {
	background		: green;
	font-size:36px;
	color		:white;
	}

	pre.color_error576 {
	background		: red;
	font-size:19px;
	color		:white;
	}

	pre.color_error720 {
	background		: red;
	font-size:24px;
	color		:white;
	}

	pre.color_error1080 {
	background		: red;
	font-size:36px;
	color		:white;
	}


	h1.mainmenu576 {
	font-size:35px;
	color:white;
	text-align: center;
	}

	h1.mainmenu720 {
	font-size:44px;
	color:white;
	text-align: center;
	}

	h1.mainmenu1080 {
	font-size:66px;
	color:white;
	text-align: center;
	}

	pre.mainmenu576 {
	font-size:26px;
	color:black;
	}

	pre.mainmenu720 {
	font-size:33px;
	color:black;
	}

	pre.mainmenu1080 {
	font-size:49px;
	color:black;
	}

	pre.mainhead576 {
	font-size:35px;
	color:white;
	text-align: center;
	}

	pre.mainhead720 {
	font-size:44px;
	color:white;
	text-align: center;
	}

	pre.mainhead1080 {
	font-size:66px;
	color:white;
	text-align: center;
	}

	pre.media576 {
	color:white;
	font-size:26px;
	}

	pre.media720 {
	color:white;
	font-size:33px;
	}

	pre.media1080 {
	color:white;
	font-size:49px;
	}

	pre.epgtimerinfo {
	color:white;
	text-align: center;
	}

	p.epgtimerinfo {
	text-align: center;
	}

	p.epg576 {
	font-size:19px;
	color:black;
	text-align: center;
	}
	
	p.epg720 {
	font-size:24px;
	color:black;
	text-align: center;
	}

	p.epg1080 {
	font-size:36px;
	color:black;
	text-align: center;
	}

	p.list576 {
	font-size:18px;
	color:black;
	text-align: center;
	}

	p.list720 {
	font-size:23px;
	color:black;
	text-align: center;
	}

	p.list1080 {
	font-size:34px;
	color:black;
	text-align: center;
	}

	p.osdtimer576 {
	font-size:18px;
	color:black;
	}

	p.osdtimer720 {
	font-size:23px;
	color:black;
	}

	p.osdtimer1080 {
	font-size:34px;
	color:black;
	}

	div#osdmain {
	position		: absolute;
	z-index			: 505;
	width			: 80%;
	top			: 60%;
	bottom			: 9%;
	left			: 10%;
	-webkit-border-radius		: 50px;
	background		: #3366ff;
	}

	div#osdnr {
	position	 	: absolute;
	z-index			: 505;
	width 			: 13%;
	height			: 30%;
	left			: 3%;
	top			: -15%;
	-webkit-border-radius	: 25px;
	background		: red;
	color			: black;
	text-align: center;
	}

	div#osdname {
	z-index			: 505;
		position	: absolute;
		width		: 69%;
		height		: 4%;
		left		: 3%;
		top 		: 20%;
	}


	div#osdtimer {
	z-index			: 505;
		position		: absolute;
		width			: 7%;
		left			: 5%;
		top			: 30%;
	}

	div#osdtime {
	z-index			: 505;
		position	: absolute;
		width		: 42%;
		right		: 5%;
		top		: 7%;
	}

	div#osdepg {
	z-index			: 505;
		position	: absolute;
		width		: 63%;
		left		: 17%;
		top		: 30%;
	}
	
	div#osdca { 
	z-index			: 505;
		position	: absolute;
		width		: 5%;
		left		: 75%;
		top		: 20%;
	}

	div#channellist { 
	z-index			: 400;
		position	: absolute;
		width		: 100%;
		height		: 48%;
		left		: 7%;
		top		: 4%;
	background		: #bbb;
	}

/*    */

	div#colorkeys { 
	z-index			: 401;
		position	: absolute;
		width		: 100%;
		left		: 10%;
		top		: 84%;
		font-size:36px;
	}

/*    */

	div#osdmediatime {
	z-index			: 506;
		position	: absolute;
		width		: 42%;
		right		: 15%;
		top		: 63%;
		color		: white;
	}

	div#osdlang {
	width		:7%;
	position	:absolute;
	left		:76%;
	top		:9%;
	z-index		:515;
	opacity		:0;
	}

	div#chanlistepg { 
	z-index			: 402;
		position	: absolute;
		width		: 42%;
		left		: 7%;
		top		: 50%;
	}

	div#osdvolume { 
	z-index			: 501;
		position	: absolute;
		width		: 63%;
		left		: 10%;
		top		: 80%;
		opacity		: 0;
	}

	div#osdmedia { 
		width		:80%;
		position	:absolute;
		left		:10%;
		top		:60%;
		z-index		:506;
		opacity		:0;
		-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#schedule {
	width		:50%;
	height		:75%;
	position	:absolute;
	left		:25%;
	top		:10%;
	opacity		:0;
	z-index		:510;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#osdmute {
	width		:7%; 
	position	:absolute; 
	left		:76%; 
	top		:9%;
	z-index		:515;
	opacity		:0;
	}

	div#mainmenu {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	bottom		:10%;
	z-index		:520;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#medialist {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	bottom		:10%;
	z-index		:520;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#switchtimer {
	width		:45%;
	position	:absolute;
	left		:21%;
	top		:26%;
	z-index		:530;
	opacity		:0;
	-webkit-border-radius:25px;
	background	:lightblue;
	}

	div#osdepginfo {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	z-index		:525;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

	div#osdepginfonext {
	width		:80%;
	position	:absolute;
	left		:10%;
	top		:10%;
	z-index		:525;
	opacity		:0;
	-webkit-border-radius:50px;
	background		: #3366ff;
	}

